@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic, 700italic, 400, 700");
$roboto-slab: "Roboto Slab", serif;

//--lineBetweenText--//
@mixin lineBetweenText($width) {
  margin: 5px 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  &::before,
  &::after {
    position: relative;
    top: 2px;
    align-self: center;
    height: 100%;
    content: " ";
    width: $width;
    margin: 10px;
    border-top: 1px solid black;
  }
}
//--/--//

//--opacity fade effect --//
//--opacity fade--//
@mixin opacityFade($from, $to) {
  @-webkit-keyframes animateOpacity {
    from {
      opacity: $from;
    }

    to {
      opacity: $to;
    }
  }

  @-moz-keyframes animateOpacity {
    from {
      opacity: $from;
    }

    to {
      opacity: $to;
    }
  }

  @keyframes animateOpacity {
    from {
      opacity: $from;
    }

    to {
      opacity: $to;
    }
  }
}

@mixin animationTime($time) {
  animation: animateOpacity $time ease-out;
  -webkit-animation: animateOpacity $time ease-out;
  -moz-animation: animateOpacity $time ease-out;
}
//--/--//

//--hover anim--//
@mixin hoverAnim($margin, $width, $height) {
  content: " ";
  width: $width;
  display: flex;
  height: $height;
  position: absolute;
  justify-content: center;
  margin: 0 auto;
  bottom: $margin;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  visibility: visible;
  opacity: 0.3;
}
//--/--//
