@import "variables";

//--global element--//
* {
  word-wrap: break-word;
  @include opacityFade(0, 1);
  @include animationTime(0.6s);
}
//--end global element--//

//--body font--//
html {
  position: relative;
  min-height: 100%;

  body {
    font-family: $roboto-slab;
    font-size: 1rem;
    overflow-x: hidden;

    main {
      &.container-wrapper {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        flex-shrink: 0;
      }
      .container {
        margin: 2rem auto 5rem;
        flex-grow: 1;
      }
    }
  }
}

//--/--//

//--nav bar--//
nav {
  &.navbar {
    text-align: center;
  }
}
//--/--//

//--modal style effect--//
.modal {
  text-align: center;
}
.modal-backdrop {
  background-color: transparent !important;
}

.fade {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(0.1);
  opacity: 0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;

  .backdrop {
    background-color: transparent;
  }

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}
//--/--//

//--toastr--//
.toast-container .toast {
  opacity: 1;
}
@-webkit-keyframes scaleAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.ng-trigger-flyInOut {
  -webkit-animation: scaleAnimation .7s ease-out;
  animation: scaleAnimation .7s ease-out;
}
//--/--//

//--table global efect--//
table {
  &.data-details {
    @include opacityFade(0, 1);
    @include animationTime(2s);
    td:first-child {
      word-break: break-word;
    }
    th,
    td {
      vertical-align: middle;
    }
    thead {
      tr {
        th {
          border-bottom: 2px solid #ecf0f1;
        }
      }
    }
    tbody {
      tr {
        transition: all 0.5s ease-in;
        &:hover {
          cursor: pointer;
          background-color: #c1d8f3;
        }
        td {
          &:first-child {
            text-align: left;
          }
        }
      }
    }
    @media screen and(max-width: 1200px) {
      thead {
        display: none;
      }
      tbody {
        tr {
          td {
            display: flex;
            text-align: center;
            justify-content: center;
            padding: 0.2em;
            border-top: none;
            align-items: center;
            span {
              &.content {
                &::after {
                  content: " ";
                  display: flex;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
//--/--//

//--preloader img--//
img {
  &.img-loader {
    background: transparent url("/assets/gif/loader.gif") center no-repeat;
    background-size: 80%;
  }
}
//--/--//

//--global form style error --//
//--disabled button in form effect--//
* {
  :disabled {
    cursor: not-allowed;

    &:hover {
      position: relative;
      &::before {
        position: absolute;
        color: #000000;
        content: attr(data-content);
        display: inline-block;
        top: -120%;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        font-size: 0.7rem;
        border-radius: 2rem;
        min-width: 100%;
        white-space: nowrap;
        padding: 0.5rem;
        background-color: #fff;
        z-index: 9999;
        letter-spacing: 0.1rem;
        -moz-box-shadow: 1px 2px 4px 4px #ccc;
        -webkit-box-shadow: 1px 2px 4px 4px #ccc;
        box-shadow: 1px 2px 4px 4px #ccc;
        font-weight: bold;
        @include opacityFade(0, 1);
        @include animationTime(1s);
      }
      &::after {
        content: " ";
        position: absolute;
        bottom: 100%;
        z-index: 99999;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        margin: 0 auto;
        border-style: solid;
        border-width: 4px;
        border-color: #fff transparent transparent transparent;
        @include opacityFade(0, 1);
        @include animationTime(1s);
      }
    }
  }
}
//--/--//
form {
  textarea {
    height: 100px !important;
  }

  &.ng-invalid {
    div {
      &.form-group {
        div {
          color: red;
        }
      }
    }
  }
}
//--/--//

//--global botton hover effect--//
button:not([disabled]) {
  position: relative;
  transition: all 1s ease-in;
  overflow: hidden;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0.001, 0.001);
    background-color: aliceblue;
  }

  &:hover {
    &::before {
      animation: buttonEffect 2s ease-in-out;
    }
  }
}
@keyframes buttonEffect {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
//--/--//
//--footer autor info--//
footer {
  &.author-info {
    transition: opacity 3s ease-in-out;
    color: rgb(0, 0, 0) !important;
    &::before {
      content: " ";
      top: -20px;
      height: 20px;
      width: 100%;
      display: flex;
      position: absolute;
      bottom: 0;
      background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff 50%);
      background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff 50%);
      background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff 50%);
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff 50%);
    }
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    opacity: 0.9;

    .container {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
//--/--//
//--connectin status--//
#status {
  display: none;
}
//--/--//
//--read more less --//
span {
  a {
    &.readMore::after {
      display: inline-block;
      font-family: FontAwesome;
      content: "\f0d7";
    }
    &.readLess::after {
      display: inline-block;
      font-family: FontAwesome;
      content: "\f0d8";
    }
  }

  &.firstPart {
    display: inline-block;
    margin-right: -4px;
  }

  &.secondPart {
    display: none;
  }
}
//--/--//
//--red more element in table--//
div.show-more-background {
  position: relative;
  height: 180px;
  &::after {
    position: absolute;
    content: " ";
    display: inline-block;
    background: linear-gradient(transparent 10% 20%, #dddddd 80% 100%);
    width: 100%;
    left: 0;
    max-width: 100%;
    padding-top: 40px;
    bottom: 0;
  }
}

footer {
  &.show-all {
    a {
      @include lineBetweenText(10%);
    }
  }
  &.animation-show-tr-elements {
    height: 100% !important;
    max-height: 100% !important;
  }
}
//--/--//

//--notyfication global style--//
.noti-content {
  //----//
  .noti-data {
    //----//
    .card {
      margin: 0.2rem;
      //-----//
      .card-block {
        padding: 1em;
        width: 100%;
        max-width: 100%;
        min-height: 50px;

        //---//
        .card-noti-header-container {
          .noti-info {
            font-size: 1.3rem;
            width: 95%;
            max-width: 95%;
            padding-right: 0.2em;
          }

          display: flex;
          justify-content: center;
          position: relative;

          .remove-iteam-noti {
            position: absolute;
            font-size: 1.3em;
            transition: all 0.5s ease-in-out;
            right: 0;
            &:hover {
              cursor: pointer;
              color: #18bc9c;
            }
          }
        }
        //--/--//
      }
      //--/--//
    }
    //--/--/
  }
  //--/--//
}
//--/--//

//--input hover effect cursor pointer--//
input,
textarea,
a {
  &:hover {
    cursor: pointer !important;
  }
}
//--/--//
