<!-- loader -->
<share-loading></share-loading>
<!-- / -->
<!-- quiz edit -->
<div class="quiz-edit">
  <h4>{{ title }}</h4>
  <!-- form -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('title')  }">
      <label for="title" class="form-control-label">
        Tytuł quizu:
      </label>
      <input type="text" id="title" formControlName="title" required placeholder="Wpisz tytuł ..." class="form-control"
        [ngClass]="{ 'is-invalid' : hasError('title'), 'is-valid' : isValid('title')  }">
      <div *ngIf="hasError('title')" clsss="valid-feedback">
        To pole jest wymagane
      </div>
    </div>
    <div class="form-group">
      <label for="description">Opis quizu:</label>
      <input type="text" id="description" formControlName="description" placeholder="Wpisz opis ..."
        class="form-control">
    </div>
    <div class="form-group">
      <label for="text">Dodatkowe informacje</label>
      <textarea id="text" formControlName="text" placeholder="Wpisz test
                ..." class="form-control">
            </textarea>
    </div>
    <!-- button action -->
    <div class="form-group commands">
      <button *ngIf="editMode" type="submit" [disabled]="form.invalid"
        data-content="Wypełnij formularz" class="btn btn-success">
        <i class="fa fa-floppy-o" aria-hidden="true">
          &nbsp;
        </i>
        Zapisz
      </button>
      <button *ngIf="!editMode" type="submit" [disabled]="form.invalid"
        data-content="Wypełnij formularz" class="btn btn-success">
        <i class="fa fa-floppy-o" aria-hidden="true">
          &nbsp;
        </i>
        Zapisz zmiany
      </button>
      <button type="button" (click)="onBack()" class="btn btn-primary">
        Wstecz
      </button>
    </div>
    <!-- / -->
  </form>
  <!-- / -->
  <que-question-list [quiz]="quiz" *ngIf="editMode"></que-question-list>
  <res-result-list [quiz]="quiz" *ngIf="editMode"></res-result-list>
</div>
<!-- quiz edit -->
