@import '../../../variables';

//--answers--
h3 {
  @include lineBetweenText(100%);
}
table {
  border-collapse: separate;
  &.answers {
    min-width: 100%;
  }
  td {
    &:first-child {
      padding-left: 0.3em;
    }
    button {
      margin: 2px;
    }
  }
}
input {
  margin: 10px 0;
}
//----
