<!-- loader -->
<share-loading></share-loading>
<!-- end loader -->
<!-- Answer -->
<article>
  <header>
    <h3 class="answer">Odpowiedzi <span *ngIf="this.answers.length > 0">({{ this.answers.length }})</span>  </h3>
  </header>
  <div *ngIf="answers.length > 0" [shrShowMoreLessElements]="answers.length" class="table-responsive">
    <table class="table-striped answers data-details" shrDetailsInformationTable>
      <thead>
        <tr>
          <th>Treść</th>
          <th>Wrtość</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let answer of this.answers" [class.table-info]="answer === answerSelected"
          (click)="onSelect(answer)">
          <td>{{answer.text}}</td>
          <td>{{answer.value}}</td>
          <td>
            <button type="button" (click)="onEdit(answer)" class="btn btn-sm btn-primary">
              <i class="fa fa-pencil" aria-hidden="true">
                &nbsp; Edycja
              </i>
            </button>
            <button type="button" (click)="onDelete(answer)" class="btn btn-sm btn-danger" data-toggle="modal"
              data-target="#confirmDeleteModalCenter">
              <i class="fa fa-times" aria-hidden="true">
                &nbsp; Usuń
              </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
<div *ngIf="answers.length === 0">To pytanie nie ma odpowiedzi</div>
<input type="button" value="Dodaj odpowiedź" (click)="onCreate()" class="btn btn-success">
<!-- / -->
<!-- confirm element component -->
<shar-confirm-delete (emitConfirm)="onConfirmDelete($event)"></shar-confirm-delete>
<!-- / -->
