
//--question-edit
.question-edit{

  background-color: #dddddd;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid black;
  text-align: center;
  width: 80%;
  @media(max-width: 767px){
    min-width: 100%;
  }
  input[type="text"],textarea{
    min-width: 95%;
  }
  .commands{
    margin-top: 10px;
    button{
      margin-left: 4px;
    }
  }
}
//----
