<!--loader-->
<share-loading></share-loading>
<!--end loader-->
<!--question-->
<div class="question-edit">
  <h2>{{title}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('text')  }">
      <label id="text">Treść pytania</label>
      <textarea formControlName="text" id="text" required placeholder="Wprowadź treść pytania" class="form-control"
        [ngClass]="{'is-invalid' : hasError('text'), 'is-valid' : isValid('text')}"></textarea>
      <div *ngIf="hasError('text')" clsss="valid-feedback">
        To pole jest wymagane
      </div>
    </div>
    <div class="commands">
      <button *ngIf="!editMode" [disabled]="form.invalid" data-content="Wypełnij formularz" type="submit"
        class="btn btn-success">
        <i class="fa fa-floppy-o" aria-hidden="true"> &nbsp;</i>
        Utwórz pytanie
      </button>
      <button *ngIf="editMode" type="submit" [disabled]="form.invalid" data-content="Wypełnij formularz" type="submit"
        class="btn btn-success">
        <i class="fa fa-floppy-o" aria-hidden="true"> &nbsp;</i>
        Zapisz
      </button>
      <button type="button" value="Wstecz" (click)="onBack()" class="btn btn-primary">
        Anuluj
      </button>
    </div>
  </form>
  <ans-answer-list *ngIf="editMode" [question]="question"></ans-answer-list>
</div>
<!--/-->
