.noti-content {
  position: absolute;
  top: 80px;
  right: 1.8em;
  width: 40%;
  max-width: 40%;
  display: none;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
  background: #4b657f;

  &::before {
    background-image: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0), #18bc9c 90%);
    background-image: -moz-linear-gradient(to top, rgba(255, 255, 255, 0), #18bc9c 90%);
    background-image: -o-linear-gradient(to top, rgba(255, 255, 255, 0), #18bc9c 90%);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #18bc9c 90%);
    top: 0;
  }

  &::after {
    background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), #18bc9c 90%);
    background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), #18bc9c 90%);
    background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0), #18bc9c 90%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #18bc9c 90%);
    bottom: 0;
  }

  &::after,
  &::before {
    content: " ";
    display: flex;
    width: 99%;
    max-width: 99%;
    position: absolute;
    background-size: 100% 100%;
    height: 4px;
    border-radius: 2px;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    -moz-box-shadow: 0 0.1em 2em 0.4em #ccc;
    -webkit-box-shadow: 0 0.1em 2em 0.4em #ccc;
    box-shadow: 0 0.1em 2em 0.4em #ccc;
    z-index: 9;
  }

  .noti-data {
    width: 100%;
    max-width: 100%;
    max-height: 350px;
    overflow: hidden auto;
  }

  @media screen and(max-width: 768px) {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
