@import "../../../variables";

h3 {
  &.result {
    @include lineBetweenText(100%);
  }
}

table {
  border-collapse: separate;
  &.results {
    min-width: 100%;
    margin: 0 auto;
    tr {
      th {
        padding: 0;
        border-top: none;
      }
      td {
        padding: 2px 5px;
        vertical-align: middle;
        button {
          margin: 2px 2px;
        }
      }
    }
  }
}
