<article>
  <header>
    <h3 class="result">Wyniki <span *ngIf="this.results.length > 0" > ({{this.results.length}}) </span> </h3>
  </header>
  <div *ngIf="results.length > 0" [shrShowMoreLessElements]="results.length" class="table-responsive">
    <table class="table table-striped results data-details" shrDetailsInformationTable
      [shrTableElems]="this.results.length">
      <thead>
        <tr>
          <th>Treść</th>
          <th>Wartość min</th>
          <th>Wartość max</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of this.results" [class.table-info]="result === selectedResult"
          (click)="onSelect(result)">
          <td>{{result.text}}</td>
          <td *ngIf="result.minValue === undefined">niedostępna</td>
          <td *ngIf="result.minValue !== null
            && result.minValue !== undefined">{{result.minValue}}</td>
          <td *ngIf="result.maxValue === undefined">niedostępna</td>
          <td *ngIf="result.maxValue !== null
            && result.maxValue !== undefined">{{result.maxValue}}</td>
          <td>
            <button type="button" (click)="onEdit(result)" class="btn btn-sm btn-primary">
              <i class="fa fa-pencil" aria-hidden="true">
                &nbsp; Edycja
              </i>
            </button>
            <button type="button" (click)="onDelete(result)" data-toggle="modal" data-target="#confirmDeleteResult"
              class="btn btn-sm btn-danger">
              <i class="fa fa-times" aria-hidden="true">
                &nbsp; Usuń
              </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
<div *ngIf="results.length === 0">
  Ten quiz nie ma jeszcze wyniku:
  Kliknij
  <strong>Dodaj wynik</strong>
  aby dodać pierwszy wynik
</div>
<input type="button" value="Dodaj wynik" (click)="onCreate()" class="btn btn-warning mt-3 mb-3" />
<!-- confirm delete -->
<res-confirm-delete-result (emitConfirmDeleteReult)="onConfirmDelete($event)"></res-confirm-delete-result>
<!-- / -->
