@import "../../../_variables.scss";
/*--card--*/
.card {
  margin-bottom: 12px;
  /*--card body--*/
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .card-body {
    padding: 0;
    h4 {
      &#noQuizzes {
        margin: 0;
        padding: 0.2em;
      }
    }
    /*--list group--*/
    .list-group {
      margin: 0;
      @include opacityFade(0, 1);
      @include animationTime(3s);
      /*--list-group-item--*/
      .list-group-item {
        padding: 6px;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;

        &:hover {
          &::before {
            width: 100%;
            visibility: visible;
            background-color: #dae9f5;
            -moz-box-shadow: inset 0 0 10px #0000004f;
            -webkit-box-shadow: inset 0 0 10px #0000004f;
            box-shadow: inset 0 0 10px #0000004f;
          }

          &::after {
            font-family: FontAwesome;
            content: "\f00c";
            position: absolute;
            right: 5px;
            font-size: 30px;
            color: #60a777;
          }
          /*--/--*/
        }

        &::before {
          @include hoverAnim(0, 20%, 100%);
        }

        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        /*--/--*/
        /*--figure--*/
        figure {
          margin: 0 5px 0 0;
          img {
            display: block;
            width: 50px;
            height: 50px;
            background-color: #ffffff;
            border: 1px solid #707d8c;
            padding: 2px;
          }
        }
        /*--/--*/
      }
      /*--/--*/
    }
    /*--/--*/
  }
  /*--/--*/
  /*--latest--*/
  &.latest {
    border-color: #384a5d;

    .card-header {
      background-color: #384a5d;
      color: white;

      .glyphicon::before {
        font-family: FontAwesome;
        content: "\f017";
        font-size: 2em;
      }
    }
  }
  /*--/--*/
  /*--by title--*/
  &.byTitle {
    border-color: #4b657f;

    .card-header {
      color: white;
      background-color: #4b657f;

      .glyphicon::before {
        font-family: FontAwesome;
        content: "\f15d";
        font-size: 2em;
      }
    }
  }
  /*--/--*/
  /*--random--*/
  &.random {
    border-color: #617992;

    .card-header {
      color: white;
      background-color: #617992;
    }

    .glyphicon::before {
      font-family: FontAwesome;
      content: "\f074";
      font-size: 2em;
    }
  }
  /*--/--*/
}
/*--/--*/
