<!-- loader -->
<share-loading></share-loading>
<!-- end loader -->
<!-- Quiz list commponent -->
<article>
  <div class="card card-primary {{class}}">
    <header class="card-header">
      <span class="glyphicon"></span>
      <h4>{{ this.title }} ( {{this.quizzes.length}} ) </h4>
    </header>
    <div class="card-body">
      <div *ngIf="this.ls?.getStartStopValue() else noQuizes" class="text-center p-2">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
      <!--no quiz-->
      <ng-template #noQuizes>
        <div *ngIf="this.quizzes?.length === 0 else quizList" class="text-center p-2">
          <h4 id="noQuizzes">Brak quizów</h4>
        </div>
        <!--/-->
      </ng-template>
      <!--quiz not empty-->
      <ng-template #quizList>
        <ul class="list-group list-group-flush" quiQuizLoad>
          <li class="list-group-item" *ngFor="let quiz of this.quizzes" [class.selected]="quiz === selectedQuiz"
            (click)="onSelect(quiz)">
            <figure class="figure">
              <img src="https://picsum.photos/50/50?random={{this.quiz.id}}" alt class="rounded-circle img-loader">
            </figure>
            <span>{{ this.quiz.description }}</span>
          </li>
        </ul>
        <!--/-->
      </ng-template>
    </div>
  </div>
</article>
<!-- <div class="col-md-12">
    <qui-quiz *ngIf="selectedQuiz" [quiz]="selectedQuiz"></qui-quiz>
  </div> -->
<!-- end of Quiz list commponent -->