<!-- Modal -->
<div class="modal fade" id="confirmDeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Potwierdzenie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>
          Czy chcesz skasować ?
        </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onComfirm()">Tak</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->
