<!-- loader -->
<share-loading></share-loading>
<!-- end loader -->
<!-- result edit -->
<div class="result-edit">
  <h3>{{title}}</h3>
  <!-- form -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- form group -->
    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('text') }">
      <label for="text">Treść wyniku</label>
      <textarea id="text" formControlName="text" required placeholder="Wpisz odpowiednią treść..." class="form-control"
        [ngClass]="{ 'is-invalid' : hasError('text'), 'is-valid' : isValid('text') }">
            </textarea>
      <div *ngIf="hasError('text')" clsss="valid-feedback">
        To pole jest wymagane
      </div>
    </div>
    <!-- / -->
    <!-- form group -->
    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('minValue') }">
      <label for="MinVlaue">Uzyskana suma punktów</label>
      <input id="minValue" name="minValue" formControlName="minValue" class="form-control" shrLimitCharacter
        [ngClass]="{ 'is-invalid' : hasError('minValue'), 'is-valid' : isValid('minValue') }">
      <div *ngIf="hasError('minValue')" clsss="valid-feedback">
        Wpisz wartość liczbową lub pozostaw pole puste
      </div>
    </div>
    <!-- / -->
    <!-- form group -->
    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('maxValue') }">
      <label for="MaxVlaue">Maksymalna wartość punktowa</label>
      <input id="maxValue" name="maxValue" formControlName="maxValue" class="form-control" shrLimitCharacter
        [ngClass]="{ 'is-invalid' : hasError('maxValue'), 'is-valid': isValid('maxValue') }">
      <div *ngIf="hasError('maxValue')" clsss="valid-feedback">
        Wpisz wartość liczbową lub pozostaw pole puste
      </div>
    </div>
    <!-- / -->
    <!-- commands -->
    <div class="commands">
      <button *ngIf="editMode" type="submit" [disabled]="form.invalid" data-content="Wypełnij formularz"
        class="btn btn-success">
        <i class="fa fa-floppy-o" aria-hidden="true">&nbsp;</i>
        Zastosuj zmiany
      </button>
      <button *ngIf="!editMode" type="submit" [disabled]="form.invalid" data-content="Wypełnij formularz"
        class="btn btn-success">
        <i class="fa fa-floppy-o" aria-hidden="true">&nbsp;</i>
        Utwórz wynik
      </button>
      <button type="button" (click)="onBack()" class="btn btn-primary">
        Wstecz
      </button>
    </div>
    <!-- / -->
  </form>
  <!-- / -->
</div>
<!-- / -->
