@import "../../../variables";

//question style
h3 {
  &.question {
    @include lineBetweenText(100%);
  }
}
//---
table {
  border-collapse: separate;
  &.questions {
    min-width: 60%;
    @media (max-width: 767px) {
      min-width: 100%;
    }
    margin: 0 auto;
    tr {
      td {
        padding: 2px 5px;
        vertical-align: middle;
        button {
          margin: 2px 2px;
        }
      }
    }
  }
  //--
}
//--
