<!-- not empty question -->
<article>
  <header>
    <h3 class="question">Pytania <span *ngIf="this.questions.length > 0">  ({{ this.questions.length }}) </span> </h3>
  </header>
  <div *ngIf="this.questions.length > 0 " [shrShowMoreLessElements]="questions.length" class="table-responsive">
    <table class="table-striped questions data-details" shrDetailsInformationTable
      [shrTableElems]="this.questions.length">
      <thead>
        <tr>
          <th>Treść</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of this.questions" [class.table-info]="question === selectedQuestion"
          (click)="onSelect(question)">
          <td>{{question.text}}</td>
          <td>
            <button type="button" (click)="onEdit(question)" class="btn btn-sm btn-primary">
              <i class="fa fa-pencil" aria-hidden="true">
                &nbsp; Edytuj
              </i>
            </button>
            <button type="button" (click)="onDelete(question)" data-toggle="modal"
              data-target="#confirmDeleteModalCenter" class="btn btn-sm btn-danger">
              <i class="fa fa-times" aria-hidden="true">
                &nbsp; Usuń
              </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
<!-- / -->
<!-- empty question -->
<div *ngIf="this.questions.length == 0">
  Ten quiz nie ma pytań
  Kliknj
  <strong>Dodaj pytanie</strong>
  , aby dodać nowe pytanie!
</div>
<input type="button" value="Dodaj pytanie" (click)="onCreate()" class="mt-3 btn btn-warning" />
<!-- / -->
<!-- confirm coponent -->
<shar-confirm-delete (emitConfirm)="onConfirmDelete($event)"></shar-confirm-delete>
<!-- / -->
