<!--progres-->
<ng-progress [color]="'red'" [spinner]='false'></ng-progress>
<!--/-->
<!-- navbar -->
<header>
  <core-navbar></core-navbar>
</header>
<!-- end of navbar- -->
<!-- Main-component -->

<main role="main" class="container-wrapper">
  <div class="container">
    <div id="status">
      <div class="alert alert-danger text-center fa-2x" role="alert"><strong>Uwaga: Brak połączenia</strong> z siecią
        trwa próba połączenia! <i class="fa fa-wifi" aria-hidden="true"></i> </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>
<footer class='author-info bg-dark text-white mt-4'>
  <div class="container">
    Patryk Rafał &copy; {{this.date | date: 'dd-MM-yyyy'}}
  </div>
</footer>
<!-- End-main-compoent -->
