<!--nav commponent-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!--main elemenet in nav-->
  <a class="navbar-brand" routerLink="home"> <i class="fa fa-home" aria-hidden="true"></i> Test Maker</a>
  <!--notification-->
  <div class="order-md-last noti-container">
    <button type="button" class="btn btn-primary navbar-brand order-md-last noti">
      <i class="fa fa-bell" aria-hidden="true"></i>
      &nbsp;
      <span class="badge badge-light noti-count">0</span>
    </button>
    <!--noti content-->
    <shr-notyfication></shr-notyfication>
    <!--/-->
  </div>
  <!--/-->
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
    data-target="#collapsibleNavbar">
    <span class="my-1 mx-2 close">X</span>
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--/-->
  <!--main content nav-->
  <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
    <!--left element nav-->
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="quiz">
          <i class="fa fa-tasks" aria-hidden="true"></i> Quiz</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="quiz/create">
          <i class="fa fa-plus" aria-hidden="true"></i> Utwórz quiz</a>
      </li>
    </ul>
    <!--/-->
    <!--right element nav-->
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="login"> <i class="fa fa-sign-in" aria-hidden="true"></i> Zaloguj
        </a>
      </li>
    </ul>
    <!--/-->
  </div>
  <!--/-->
</nav>
<!--/-->
