//--navbar close icon--//
nav {
  &.navbar {
    -moz-box-shadow: 1px 2px 4px 4px #ccc;
    -webkit-box-shadow: 1px 2px 4px 4px #ccc;
    box-shadow: 1px 2px 4px 4px #ccc;
    z-index: 4;

    @media screen and(max-width: 768px) {
      justify-content: center;
    }

    a {
      transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -webkit-transition: all 400ms ease;
    }
    //--notification container--//
    .noti-container {
      margin-left: auto !important;
      .noti {
        position: relative;
        span {
          position: absolute;
          top: 1px;
          right: 8px;
          border: 2px solid #2c3e52;
          width: auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 40px;
        }
      }
    }
    //--/--//
  }

  .navbar-toggler > .close {
    display: block;
  }

  .navbar-toggler.collapsed > .close,
  .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
    display: none;
  }
}
//--/--//
