<!-- loader -->
<share-loading></share-loading>
<!-- end loader -->
<!-- answer edit -->
<div class="answer-edit">
  <h2>{{title}}</h2>
  <!-- form -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- form group -->
    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('text')  }">
      <label for="text">Treść odpowiedzi:</label>
      <textarea formControlName="text" id="text" required placeholder="Wpisz treść..." class="form-control"
        [ngClass]="{ 'is-invalid' : hasError('text') }">
            </textarea>
      <div *ngIf="hasError('text')" clsss="valid-feedback">
        To pole jest wymagane
      </div>
    </div>
    <!-- / -->
    <!-- form group -->
    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('value') }">
      <label for="value">Wartość punktowa:</label>
      <select id="value" formControlName="value" required class="form-control"
        [ngClass]="{ 'is-invalid' : hasError('value'), 'is-valid' : isValid('value') }">
        <option value>Wybierz wartość ...</option>
        <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,4,5]" [value]="num">
          {{num}}
        </option>
      </select>
      <div *ngIf="hasError('value')" clsss="valid-feedback">
        Wybierz wartość w zakresie od -5 do 5
      </div>
    </div>
    <!-- / -->
    <!-- form group -->
    <div class="commands">
      <button *ngIf="editMode" type="submit" [disabled]="form.invalid" data-content="Wypełnij formularz"
        class="btn btn btn-success">
        <i class="fa fa-floppy-o" aria-hidden="true">
          &nbsp;
        </i>
        Zapisz
      </button>
      <button *ngIf="!editMode" type="submit" [disabled]="form.invalid" data-content="Wypełnij formularz"
        class="btn btn btn-success">
        <i class="fa fa-floppy-o" aria-hidden="true">
          &nbsp;
        </i>
        Utwórz
      </button>
      <button type="button" (click)="onBack()" class="btn btn btn-primary">
        Anuluj
      </button>
    </div>
  </form>
  <!-- / -->
</div>
<!-- / -->
