/*loader*/
.loadWrapper{
  display: flex;
  justify-content: center;
  background: rgba(0,0,0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  transition: 2s ease-in-out;
  .loader{
    align-self: center;
    color: rgb(44, 38, 38);
    font-size: 4rem;
  }
}
/*end of loader*/
