<section>
    <div class="row">
        <div class="col-lg-4">
            <qui-quiz-list class="latest"></qui-quiz-list>
        </div>
        <div class="col-lg-4">
            <qui-quiz-list class="byTitle"></qui-quiz-list>
        </div>
        <div class="col-lg-4">
            <qui-quiz-list class="random"></qui-quiz-list>
        </div>
    </div>
</section>
