<!-- loader -->
<share-loading></share-loading>
<!-- end loader -->
<!-- add quiz -->
<article>
  <div class="quiz">
    <!--  -->
    <div class="quiz-detials">
      <div class="quiz-image">
        <figure class="figure">
          <img src="https://picsum.photos/150/150/?random={{this.quiz.id}}" alt class="rounded-circle img-loader">
        </figure>
      </div>
    </div>
    <!-- / -->
    <!-- info block  -->
    <div class="quiz-info-block">
      <header class="quiz-heading">
        <h4 [shrShowMoreLesText]="quiz.title" [shrShowMoreLesTextLength]="50">{{quiz.title}}</h4>
        <span class="help-block" [shrShowMoreLesText]="quiz.description"
          [shrShowMoreLesTextLength]="50">{{quiz.description}}</span>
      </header>
      <!-- nav  -->
      <nav role="navigation">
        <ul class="navigation">
          <li class="active">
            <a data-toggle="tab" href="#description">
              <i class="fa fa-user" aria-hidden="true">
                Opis
              </i>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#status">
              <i class="fa fa-bar-chart" aria-hidden="true">
                Statystyki
              </i>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#share">
              <i class="fa fa-share" aria-hidden="true">
                Udostępnione
              </i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- / -->
      <!--quiz body  -->
      <article>
        <div class="quiz-body">
          <div class="tab-content">
            <div id="description" class="tab-pane active" [shrShowMoreLesTextLength]="99"
              [shrShowMoreLesText]="quiz.text">
              {{this.quiz.text}}
            </div>
            <div id="status" class="tab-pane">
              Statystyki
            </div>
            <div id="share" class="tab-pane">
              Udostępnione
            </div>
          </div>
        </div>
      </article>
      <!-- / -->
      <!-- commands -->
      <div class="commands">
        <a (click)="haveAnyQuestins()" class="btn btn-success">
          <i class="fa fa-graduation-cap" aria-hidden="true">
            &nbsp; Wykonaj quiz!
          </i>
        </a>
        <a [routerLink]="['/home']" class="btn btn-default">
          <i class="fa fa-arrow-left" aria-hidden="true">
            &nbsp; Wstecz
          </i>
        </a>
        <div class="edit">
          <button type="button" class="btn btn-sm btn-primary" (click)="onEdit()">
            <i class="fa fa-pencil" aria-hidden="true">
              &nbsp; Edycja
            </i>
          </button>
          <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
            data-target="#confirmDeleteModalCenter">
            <i class="fa fa-times" aria-hidden="true">
              &nbsp; Kasuj
            </i>
          </button>
        </div>
      </div>
      <!-- / -->
    </div>
    <!-- / -->
  </div>
</article>
<!-- end add quiz -->
<!-- confirm coponent -->
<shar-confirm-delete (emitConfirm)="onDelete($event)"></shar-confirm-delete>
<!-- end confirm commpoent -->
